/* Example CSS styling */
.post-form {
    display: flex;
    flex-direction: column;
  }

  .create-post {
    margin: 0px auto;
    max-width: 1000px;
  }
 
  .box {
    margin-bottom: 15px;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; /* Remove default input/textarea focus outline */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
  }
  
  .input-field:focus {
    border-color: #7f8c8d; /* Change border color on focus */
  }
  .post{
    margin-left: 15%;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 8500px;
  }
  
  .post-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    width: calc(70% - 10px); 
    padding: 15px;
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color:#d8d8d8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 9px;
    
  }
  
  .avatar {
    flex: 0 0 50px; 
  }
  .main-container{
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .sidebar{
    border: 1px solid #ccc; 
    border-top: none;
    height: auto;
    width: 20%;
    padding: 20px;
  }
  .sidebar button{
    background-color: var(--dark) ;
  }

  .avatar div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #3498db; 
    color: white;
  }
  
  .post-content {
    flex: 1;
    padding-left: 0px;
    
  }
  .content{
    width: calc(70% - 10px);
    border: 0.1px solid #c9c8c8;
  border-radius: 8px; 
  padding: 10px;
  }
  .content p {
    margin: 10px 0; /* Add margin for spacing between paragraphs */
    font-size: 16px; /* Adjust font size */
    color: #292828; /* Set text color */
    line-height: 1.5; /* Set line height for better readability */
  }
  

  /* additonal styling for the forum page */
