.checkbox-options {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  
  .checkbox-option {
    margin-right: 20px; /* Adjust as needed */
    margin-bottom: 100px; /* Adjust as needed */
  }
  
  .checkbox-option label {
    margin-left: 5px; /* Adjust as needed */
  }
  
  .selected-facilities {
    margin-top: 20px; /* Adjust as needed */
  }